@import "utils/constants";
@import "utils/mixins";


.citation {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 410px;
  gap: 50px;

  @include large-tablet {
    height: 480px;
  }

  .quotations {
    align-self: center;
  }

  .slick-track {
    display: flex;
    flex-direction: row;
  }

  .slick-list {
    overflow: hidden;
  }

  .slider-item-2 {
    .wrapper-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }

  .citation-text-1 {
    @include text-styling($Roboto-Condensed, 24px, 400, $main-black-color);
    text-align: center;
    width: 90%;
    margin: 0 auto;
    @include small-tablet {
      @include set-size-auto-line-height(32px)
    }

    @include desktop {
      @include set-size-auto-line-height(36px);
    }

    .strong {
      color: $main-blue-color;
      font-weight: 700;
    }
  }

  .citation-text-2 {
    @include text-styling($Roboto-Condensed, 20px, 700, $main-black-color);
    text-align: center;
    margin: 20px auto 0 auto ;

    @include desktop {
      @include set-size-auto-line-height(24px)
    }
  }


  .slick-dots {
    width: 160px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 20%;
    left: 50%;
    transform: translatex(-50%);
    padding: 0 25px;

    li {
      background: $main-blue-color;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      border: none;

      button {
        display: none;
      }
    }

    .slick-active {
      border: 1px solid $main-blue-color !important;
      background: transparent;
    }
  }

}