// Color Variables
$main-blue-color: #2B4074;
$main-white-color: #ffffff;
$main-black-color: #4a4a4a;
$main-gray-color: #797979;
$light-gray-color: #9b9b9b;


//fonts
$Roboto: 'Roboto';
$Roboto-Condensed: 'Roboto Condensed';
$Dosis: 'Dosis';

//wrapper max width
$section-max-width: 1440px;
